@import 'bootstrap';
@import 'app';

body * {
  //border: 1px solid red;
}

.search-result-card {
  min-height: 100px;

  @media (min-width: 768px) {
    min-height: 175px;
  }
}

@media (min-width: 768px) {
  #filters-section.d-md-block {
    display: block !important;
  }
}

a.clickable-search-term {
  color: unset;
  text-decoration-line: underline;
  text-decoration-color: $gray-500;
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-color: $gray-500;
  cursor: pointer;
}

mark {
  color: unset;
  background-color: rgba($gray-200, .7);
  padding: 0 0.08em;
}

.ais-SearchBox-loadingIndicator {
  position: absolute;
  top: 21px;
  right: 60px;
}

@media (max-width: 1200px) {
  h1, .h1 {
    font-size: calc(1.6rem + 1.2vw);
  }
}

#sort-by {
  max-width: 185px;
}

.ais-RefinementList-searchBox {
  max-width: 250px;
}

#map {
  height: 100%;
  width: 100%;

  .ais-GeoSearch {
    position: relative;
  }

  .ais-GeoSearch, .ais-GeoSearch-map {
    height: 100%;
  }

  .ais-GeoSearch-control {
    position: absolute;
    top: .8rem;
    left: 3.75rem;
  }

  .ais-GeoSearch-reset {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

#map, #geosearch-ui {
  height: 100vh;
}
